<div class="container">
  <br>
  <h3>このサイトはブレンドコーヒーの比率を計算するサイトですよ</h3>
  <br>
  <h4>機能概要</h4>
<p>
  <a class="btn btn-primary" data-toggle="collapse" href="#multiCollapseExample1" aria-expanded="false" aria-controls="multiCollapseExample1">ブレンド比率計算</a>
</p>


    <div class="collapse multi-collapse" id="multiCollapseExample1">
      <div class="card card-body">
        主要なコーヒ豆の品種から、お好みで１〜３種類まで選んでいただきます。<br>
        そのブレンドがどんな味になるのか自動で計算できます。</div>
    </div>

  <br>
  <!-- <p>
    <a class="btn btn-primary" data-toggle="collapse" href="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample1">ブレンドの感想の共有機能</a>
  </p>
      <div class="collapse multi-collapse" id="multiCollapseExample2">
        <div class="card card-body">
          自分のはもちろん他の愛好家たちのブレンドの感想を共有でき,実際の味はどうだったかオススメのお店の情報などをGETできます。
        </div>

    </div>
    </div>
  </div> -->
